<?xml version="1.0" encoding="UTF-8"?>
<!--
       Copyright 2010-2013 the original author or authors.

       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.
-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.byd.test.mapper.OrderMapper">

  <cache />

  <select id="getOrderByOrderId" resultType="Order">
    SELECT order_id as orderId,price FROM test_order
    WHERE order_id = #{orderId}
  </select>
  <insert id = "insertOrder" parameterType= "Order">
      insert into test_order(order_id,price) values(#{orderId},#{price})
  </insert>
  <delete id = "deleteOrderByOrderId" parameterType = "String">
      delete from test_order where order_id = #{orderId}
  </delete>
  <select id = "selectAllOrder" resultType = "Order">
      select order_id as orderId , price from test_order
  </select>
  <update id = "updateOrderByOrderId" parameterType = "Order">
      update test_order set price = #{price} where order_id = #{orderId}
  </update>
  <select id = "selectOrderByPaging" parameterType = "java.util.Map" resultType = "Order">
      SELECT ORDER_ID AS ORDERID, PRICE
        FROM (SELECT ORDER_ID, PRICE, ROWNUM NU
          FROM (SELECT ORDER_ID, PRICE
                  FROM TEST_ORDER
                 WHERE PRICE = #{price}
                   ) WHERE ROWNUM <![CDATA[  <=  ]]> #{end}
        ) WHERE NU <![CDATA[  >=  ]]>  #{start}
      
  </select>
  <select id="performPro" statementType="CALLABLE" parameterType = "java.util.Map">
    <![CDATA[  
    {call test_mybatis(#{param1,jdbcType=VARCHAR,mode=IN},#{param2,jdbcType=VARCHAR,mode=IN})}  
    ]]>
  </select>
</mapper>